extends layouts/bootstrap

block nav
    .row
        .col-lg-12.col-md-12.col-xs-12

block main
    .row
        .col-lg-8.col-md-8.col-xs-8
            include components/calendar.html
        .col-lg-4.col-md-4.col-xs-4
        .klasa naszaklasa
            .row tralalala

//block body
//  .container
//    .row
//      .col-md-6 Text for first col
//      .col-md-6
//        p Text for second col
//          button.btn.btn-danger Destroy
//    .row
//      .col-md-4(style="background: #000;")
//      .col-md-4
//        include components/form
//      .col-md-4
//        include components/form
//
//block nav
//  include components/nav.html