<!--<div class="container">-->
    <!-- Responsive calendar - START rrrrrr -->
    <div class="responsive-calendar">
        <div class="controls">
            <a class="pull-left" data-go="prev"><div class="btn btn-primary"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></div></a>
            <h4><span data-head-month></span> <span data-head-year></span></h4>
            <a class="pull-right" data-go="next"><div class="btn btn-primary"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></div></a>
        </div>
        <div class="day-headers">
            <div class="day header">Pon</div>
            <div class="day header">Wt</div>
            <div class="day header">Śr</div>
            <div class="day header">Czw</div>
            <div class="day header">Pt</div>
            <div class="day header">Sb</div>
            <div class="day header">Nd</div>
        </div>
        <div class="days" data-group="days">

        </div>
    </div>
    <!-- Responsive calendar - END -->
<!--</div>-->

<link href="css/responsive-calendar.css" rel="stylesheet">


<script src="js/responsive-calendar.js"></script>
<script type="text/javascript">


    $(document).ready(function () {

        function addLeadingZero(num) {
            if (num < 10) {
                return "0" + num;
            } else {
                return "" + num;
            }
        }

        $(".responsive-calendar").responsiveCalendar({
            onActiveDayClick: function (events, e) {
                console.log('kliknieto dzien', events)

                var thisDayEvent, key;

                key = $(this).data('year')+'-'+addLeadingZero( $(this).data('month') )+'-'+addLeadingZero( $(this).data('day') );
                var array_date=(key.split("-"));
//                thisDayEvent = events[key];


                $('#myImg').html('<img class="img-responsive" src="assets/'
                        + array_date[2]
                        + '_'
                        + array_date[1]
                        + '.jpg'
                        + '" />');
            },

            time: (new Date()).getFullYear() + '-' + ((new Date()).getMonth()+1),
            events: {
                "2016-05-30": {"number": 'Dzieci'},
                "2016-05-26": {"number": 'Free'},
                "2016-05-03":{"number": 'Sport'},
                "2016-05-13":{"number": 'Koncert'},
                "2016-05-12": {"number": 'Wystawa'}
            }
        });
    });
</script>
