- var txt="Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus."

.panel.panel-info
    .panel-heading
        h3(style="margin-top:5px;")
            span(class='glyphicon glyphicon-calendar' aria-hidden='true')
            span=' Wydarzenie'
        img(class="img-responsive" src="http://i.telegraph.co.uk/multimedia/archive/02602/premier-league_2602603b.jpg")
    .panel-body
        span #{txt}
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&amp;sensor=false")