<link rel="stylesheet" href="css/nav.css">


<div class="row menu">
    <div class="container">

        <div class="col-lg-10 col-xs-10 col-md-10">



            <div class=" col-lg-1 col-lg-offset-1 col-md-offset-1 col-md-3 col-sm-4 col-xs-6 ">
                <div class="checkbox ">
                    <label class="checkbox"><input type="checkbox"><p>Koncert</p></label>
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-1  col-md-3 col-sm-4 col-xs-6">
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox"><p>Sport</p></label>
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-1 col-md-3 col-sm-4 col-xs-6 ">
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox"><p>Rozrywka</p></label>
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-4 col-xs-6 ">
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox"><p>Kino</p></label>
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-1 col-md-3 col-sm-4 col-xs-6 ">
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox"><p>Teatr</p></label>
                </div>
            </div>
            <div class="col-lg-1 col-lg-offset-1  col-md-3 col-sm-4 col-xs-6">
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox"><p>Sztuka</p></label>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-sm-2 col-xs-2 col-md-2 "></div>
    </div>


    <div class="container">
        <div class="col-lg-12 col-xs-12 col-md-12">


            <div class="col-lg-10 col-xs-10 col-md-8 col-sm-6"></div>
            <div class="col-lg-2 col-xs-2 col-md-4 col-sm-6">
                <div class="button">
                    <button type="button" class="btn btn-default dropdown-toggle test2" data-toggle="dropdown">
                        Szukaj</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>